{% extends "base.html" %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <div class="alert alert-primary" role="alert">
        Your account doesn't have access to this page. To proceed,
    please login with an account that has access.
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
        Please login to see this page.
    </div>
    {% endif %}
{% endif %}
<div class="container">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="/" />
    </form>
</div>


{% endblock %}